@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --primary-clr: [#FF6F61];
  --secondary-clr: [#F4D35E];
  --accent-clr: [#5CA4A9];
  --neutral-clr: [#FFFFFF];
}

.test {
  background-color: aqua;
}

h3 {
  margin: 1rem 0;
  font-weight: bold;
}