@tailwind base;
@tailwind components;
@tailwind utilities;


  /* --primary-clr: [#FF6F61];
  --secondary-clr: [#F4D35E];
  --accent-clr: [#5CA4A9];
  --neutral-clr: [#FFFFFF]; */


.prim-clr {
  background-color: #FF6F61;
}

h3 {
  margin: 1rem 0;
  font-weight: bold;
}